@page
@model Work_IO.Pages.WorkIO.CandidatosRegistradosModel
@{
    ViewData["Title"] = "CandidatosRegistrados";
}

<head>
    <title>Glyphicon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <h1>Candidatos</h1>

    @if (Model.Candidatos.Any())
    {<table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x.Candidatos.FirstOrDefault().OrdenID)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Candidatos.FirstOrDefault().Nombre)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Candidatos.FirstOrDefault().Edad)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Candidatos.FirstOrDefault().Sexo)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x.Candidatos.FirstOrDefault().Nacionalidad)</th>
                    <td scope="col"><input id="myInput" type="text" placeholder="Buscar candidato"></td>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model.Candidatos)
                {
                    <tr>
                        <th scope="row"><a asp-page="/WorkIO/Details" asp-route-Id="@item.OrdenID">@Html.DisplayFor(m => item.OrdenID)</a></th>
                        <td><a asp-page="/WorkIO/DetailsCandidato" asp-route-Id="@item.Id">@Html.DisplayFor(m => item.Nombre)</a></td>
                        <td>@Html.DisplayFor(m => item.Edad)</td>
                        <td>@Html.DisplayFor(m => item.Sexo)</td>
                        <td>@Html.DisplayFor(m => item.Nacionalidad)</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Ver más</button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Candidato</li>
                                    <li>
                                        <a asp-page="/WorkIO/Details" asp-route-Id="@item.OrdenID" class="dropdown-item">Orden</a>
                                    </li>
                                    <li>
                                        <a asp-page="/WorkIO/DetailsCandidato" asp-route-Id="@item.Id" class="dropdown-item">Detalles</a>
                                    </li>
                                    <li>
                                        <a asp-page="/WorkIO/EditCandidato" asp-route-Id="@item.Id" class="dropdown-item">Editar</a>
                                    </li>
                                    <li>
                                        <a asp-page="./DeleteCandidato" asp-route-id="@item.Id" class="dropdown-item">Eliminar</a>
                                    </li>
                                    <li class="dropdown-header">Referencia</li>
                                    <li>
                                        <a asp-page="/WorkIO/DetailsReferencia" asp-route-Id="@item.Id" class="dropdown-item">Detalles</a>
                                    </li>
                                    <li>
                                        <a asp-page="/WorkIO/EditReferencia" asp-route-Id="@item.Id" class="dropdown-item">Editar</a>
                                    </li>
                                    <li>
                                        <a asp-page="/WorkIO/DeleteReferencia" asp-route-Id="@item.Id" class="dropdown-item">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center border">
            <p class="text-danger">No hay candidatos registrados.</p>
            <a href="/WorkIO/RegisterCandidato" title="Registro" class="btn btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
        </div>
    }
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>