@page
@model Work_IO.Pages.WorkIO.DeleteCandidatoModel
@{
    ViewData["Title"] = "DeleteCandidato";
}

<h1>Detalles del candidato</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Nombre:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Candidato.Nombre)
        </dd>
        <dt class="col-sm-3">
            Sexo:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Candidato.Sexo)
        </dd>
        <dt class="col-sm-3">
            Edad:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Candidato.Edad)
        </dd>
        <dt class="col-sm-3">
            Nacionalidad:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Candidato.Nacionalidad)
        </dd>
        <dt class="col-sm-3">
            Fecha de registro:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Candidato.CreatedAT)
        </dd>
        <dt class="col-sm-3">
            Fecha de actualización:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Candidato.UpdatedAT)
        </dd>



    </dl>
    <form method="post">
        <input type="hidden" asp-for="Candidato.Id" />
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
            Eliminar
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">¿Está seguro que desea eliminar el candidato?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Si elimina el candidato no volverá a recuperarlo.
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">

                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <a class="btn btn-secondary" asp-page="./CandidatosRegistrados">Cancelar</a>
    </form>

</div>