@page
@model Work_IO.Pages.WorkIO.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la orden #@Model.Orden.Id</h1>
<button type="submit" class="btn btn-secondary" onclick="generatedPdfFile()" value="Pdf">Print PDF</button>

<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Orden.Nombre"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Orden.Nombre</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Orden.TipoContrato"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Orden.TipoContrato</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Orden.Descripcion"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Orden.Descripcion</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Orden.FechaLimite"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Orden.FechaLimite</label>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Orden.CreatedAT">Fecha de creación:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Orden.CreatedAT</label>
    </div>
</div>

<!--<h1>Empresa</h1>
@if (Model.EmpresaList.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.EmpresaList.FirstOrDefault().Nombre)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.EmpresaList.FirstOrDefault().NomContacto)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.EmpresaList.FirstOrDefault().NumContacto)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.EmpresaList.FirstOrDefault().Email)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmpresaList)
            {
                <tr>
                    <th scope="row"><a asp-page="/WorkIO/DetailsEmpresa" asp-route-Id="@item.Id">@Html.DisplayFor(m => item.Nombre)</a></th>
                    <td>@Html.DisplayFor(m => item.NomContacto)</td>
                    <td>@Html.DisplayFor(m => item.NumContacto)</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>
                        <a asp-page="/WorkIO/DetailsEmpresa" asp-route-Id="@item.Id" class="btn-link">Ver detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h1>Candidatos</h1>
@if (Model.CandidatosList.Any())
{<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.CandidatosList.FirstOrDefault().Nombre)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.CandidatosList.FirstOrDefault().Edad)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.CandidatosList.FirstOrDefault().Sexo)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.CandidatosList.FirstOrDefault().Nacionalidad)</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CandidatosList)
            {
                <tr>
                    <th scope="row"><a asp-page="/WorkIO/DetailsCandidato" asp-route-Id="@item.Id">@Html.DisplayFor(m => item.Nombre)</a></th>
                    <td>@Html.DisplayFor(m => item.Edad)</td>
                    <td>@Html.DisplayFor(m => item.Sexo)</td>
                    <td>@Html.DisplayFor(m => item.Nacionalidad)</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Ver más</button>
                            <div class="dropdown-menu">
                                <a asp-page="/WorkIO/DetailsCandidato" asp-route-Id="@item.Id" class="dropdown-item">Detalles</a>
                                <a asp-page="/WorkIO/EditCandidato" asp-route-Id="@item.Id" class="dropdown-item">Editar</a>
                                <a asp-page="/WorkIO/DeleteCandidato" asp-route-Id="@item.Id" class="dropdown-item">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center border">
        <p class="text-danger">No hay candidatos registrados.</p>
        <a href="/WorkIO/RegisterCandidato" title="Registro candidato" class="btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
    </div>
}-->
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

    <script type="text/javascript">

        function generatedPdfFile() {

            // create the window before the callback
            var win = window.open('', '_blank');
            var docDefinition = {
                content: [




                    { text: 'Empresa WorIO', fontSize: 14, bold: true, margin: [0, 20, 0, 8] },

                    "Datos del orden",
                    "Nombre de la empresa: @Model.Orden.EmpresaID",
                    "Orden: @Model.Orden.Nombre",
                    "Tipo de contrato: @Model.Orden.TipoContrato",
                    "Fecha limite de contrato: @Model.Orden.FechaLimite",
                    "Descripcion: @Model.Orden.Descripcion",
                    "Fecha de solicitud: @Model.Orden.CreatedAT"







                ]
            };

            pdfMake.createPdf(docDefinition).open({}, win);

        }
    </script>

}