@page
@model Work_IO.Pages.WorkIO.DetailsCandidatoModel
@{
    ViewData["Title"] = "DetailsCandidato";
}


<h1>Detalles del candidato</h1>
<button type="submit" class="btn btn-secondary" onclick="generatedPdfFile()" value="Pdf">Print PDF</button>

<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.Nombre">Nombre:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.Nombre</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.Sexo">Sexo:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.Sexo</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.Edad">Edad:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.Edad</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.FNacimiento">Fecha de nacimiento:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.FNacimiento</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.LNacimiento">Lugar de nacimiento:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.LNacimiento</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.Nacionalidad">Nacionalidad:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.Nacionalidad</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Candidato.ECivil">Estado Civil:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.ECivil</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" value="CreatedAT">Fecha de creación:</label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Candidato.CreatedAT</label>
    </div>
</div>


<!--<h4 class="dark-grey">Referencias</h4>
@if (Model.ReferenciaList.Any())
{<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Candidato</th>
                <th scope="col">Empresa</th>
                <th scope="col">Contacto</th>
                <th scope="col">Telefono</th>
                <th scope="col">Jefe</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReferenciaList)
            {
            <tr>
                <th scope="row"><a asp-page="/WorkIO/DetailsCandidato" asp-route-Id="@item.CandidatoID">@Html.DisplayFor(m => item.CandidatoID)</a></th>
                <th><a asp-page="/WorkIO/DetailsReferencia" asp-route-Id="@item.Id">@Html.DisplayFor(m => item.NomEmpresa)</a></th>
                <td>@Html.DisplayFor(m => item.NomInformante)</td>
                <td>@Html.DisplayFor(m => item.Telefono)</td>
                <td>@Html.DisplayFor(m => item.NomJefe)</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Ver más</button>
                        <div class="dropdown-menu">
                            <a asp-page="/WorkIO/DetailsCandidato" asp-route-Id="@item.CandidatoID" class="dropdown-item">Candidato</a>
                            <a asp-page="/WorkIO/DetailsReferencia" asp-route-Id="@item.Id" class="dropdown-item">Detalles</a>
                            <a asp-page="/WorkIO/EditReferencia" asp-route-Id="@item.Id" class="dropdown-item">Editar</a>
                            <a asp-page="/WorkIO/DeleteReferencia" asp-route-Id="@item.Id" class="dropdown-item">Eliminar</a>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
}-->
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

    <script type="text/javascript">

        function generatedPdfFile() {

            // create the window before the callback
            var win = window.open('', '_blank');
            var docDefinition = {
                content: [




                    { text: 'Empresa WorIO', fontSize: 14, bold: true, margin: [0, 20, 0, 8] },

                    "Datos del candidato",
                    "Nombre: @Model.Candidato.Nombre",
                    "Sexo: @Model.Candidato.Sexo",
                    "Edad: @Model.Candidato.Edad",
                    "Fecha de nacimiento: @Model.Candidato.FNacimiento",
                    "Lugar de nacimiento: @Model.Candidato.LNacimiento",
                    "Nacionalidad: @Model.Candidato.Nacionalidad",
                    "Estado civil: @Model.Candidato.ECivil",
                    "Fecha de registro: @Model.Candidato.CreatedAT"







                ]
            };

            pdfMake.createPdf(docDefinition).open({}, win);

        }
    </script>

}