@page
@model Work_IO.Pages.WorkIO.DetailsCandidatoModel
@{
    ViewData["Title"] = "DetailsCandidato";
}

<h1 class="dark-grey">Detalles del Candidato @Model.Candidato.Id</h1>
<form method="post" class="col-md-12 row">
    <div class="col-md-6 row">

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.OrdenID"></label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.OrdenID</label>
        </div><br />

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Nombre">Nombre:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Nombre</label>
        </div><br />

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Sexo">Sexo:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Sexo</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Edad">Edad:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Edad</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.FNacimiento">Fecha de nacimiento</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.FNacimiento</label>
        </div>
    </div>

    <div class="col-md-6 row">
        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.LNacimiento">Lugar de nacimiento</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.LNacimiento</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Nacionalidad">Nacionalidad</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Nacionalidad</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.ECivil">Estado Civil:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.ECivil</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.CreatedAT">Fecha de registro</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.CreatedAT</label>
        </div>
    </div>

</form>

<h1 class="dark-grey">Ordenes</h1>
@if (Model.OrdenList.Any())
{<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().Id)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().Nombre)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().EmpresaID)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().TipoContrato)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().FechaLimite)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().Descripcion)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrdenList)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(m => item.Id)</th>
                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                    <td>@Html.DisplayFor(m => item.EmpresaID)</td>
                    <td>@Html.DisplayFor(m => item.TipoContrato)</td>
                    <td>@Html.DisplayFor(m => item.FechaLimite)</td>
                    <td>@Html.DisplayFor(m => item.Descripcion)</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Ver más</button>
                            <div class="dropdown-menu">
                                <a asp-page="/WorkIO/Details" asp-route-Id="@item.Id" class="dropdown-item">Detalles</a>
                                <a asp-page="/WorkIO/EditOrden" asp-route-Id="@item.Id" class="dropdown-item">Editar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center border">
        <p class="text-danger">No hay candidatos registrados.</p>
        <a href="/WorkIO/RegisterCandidato" title="Registro candidato" class="btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
    </div>
}
<div class="col-md-6 row"><a asp-page="/WorkIO/CandidatosRegistrados" class="btn btn-secondary btn-block btn-lg">Regresar</a></div>