@page
@model Work_IO.Pages.WorkIO.DetailsCandidatoModel
@{
    ViewData["Title"] = "DetailsCandidato";
}

<h1 class="dark-grey">Detalles del Candidato @Model.Candidato.Id</h1>
<form method="post" class="col-md-12 row">
    <div class="col-md-6 row">

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.OrdenID"></label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.OrdenID</label>
        </div><br />

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Nombre">Nombre:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Nombre</label>
        </div><br />

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Sexo">Sexo:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Sexo</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Edad">Edad:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Edad</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.FNacimiento">Fecha de nacimiento</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.FNacimiento</label>
        </div>
    </div>

    <div class="col-md-6 row">
        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.LNacimiento">Lugar de nacimiento</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.LNacimiento</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.Nacionalidad">Nacionalidad</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.Nacionalidad</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.ECivil">Estado Civil:</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.ECivil</label>
        </div>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Candidato.CreatedAT">Fecha de registro</label>
            <label class="form-control form-text" role="textbox">@Model.Candidato.CreatedAT</label>
        </div>
    </div>

    <div class="col-md-6 row"><a asp-page="/WorkIO/CandidatosRegistrados" class="btn btn-secondary btn-block btn-lg">Regresar</a></div>
    <div class="col-md-6 row"><a asp-page="/WorkIO/EditCandidato" asp-route-id="@Model.Candidato.Id" class="btn btn-primary btn-block btn-lg">Edit</a></div>
</form>
