@page
@model Work_IO.Pages.WorkIO.DetailsEmpresaModel
@{
    ViewData["Title"] = "DetailsEmpresa";
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<h1>Detalles de la empresa @Model.Empresa.Nombre</h1>
<button type="submit" class="btn btn-secondary" onclick="generatedPdfFile()" value="Pdf">
    <span class="glyphicon glyphicon-print"></span> Print PDF
</button>


<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Empresa.NomContacto"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Empresa.NomContacto</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Empresa.NumContacto"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Empresa.NumContacto</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Empresa.Email"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Empresa.Email</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" asp-for="Empresa.Direccion"></label>
    <div class="col-sm-10">
        <label class="form-control form-text" role="textbox">@Model.Empresa.Direccion</label>
    </div>
</div>

<!--<h1 class="dark-grey">Ordenes</h1>
@if (Model.OrdenList.Any())
{<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().Nombre)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().TipoContrato)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().FechaLimite)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.OrdenList.FirstOrDefault().Descripcion)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrdenList)
            {
                <tr>
                    <th scope="row"><a asp-page="/WorkIO/Details" asp-route-Id="@item.Id">@Html.DisplayFor(m => item.Nombre)</a></th>
                    <td>@Html.DisplayFor(m => item.TipoContrato)</td>
                    <td>@Html.DisplayFor(m => item.FechaLimite)</td>
                    <td>@Html.DisplayFor(m => item.Descripcion)</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Ver más</button>
                            <div class="dropdown-menu">
                                <a asp-page="/WorkIO/Details" asp-route-Id="@item.Id" class="dropdown-item">Detalles</a>
                                <a asp-page="/WorkIO/EditOrden" asp-route-Id="@item.Id" class="dropdown-item">Editar</a>
                                <a asp-page="/WorkIO/DeleteOrden" asp-route-Id="@item.Id" class="dropdown-item">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center border">
        <p class="text-danger">No hay candidatos registrados.</p>
        <a href="/WorkIO/RegisterCandidato" title="Registro" class="btn-dark">Registrar<i class="fa fa-angle-double-right ml-2"></i></a>
    </div>
}-->

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

    <script type="text/javascript">

        function generatedPdfFile() {

            // create the window before the callback
            var win = window.open('', '_blank');
            var docDefinition = {
                content: [






                    { text: 'Ordenes', fontSize: 14, bold: true, margin: [0, 20, 0, 8] },
                    {
                        style: 'tableExample',
                        table: {
                            headerRows: 1,
                            body: [
                                [{ text: 'Header 1', style: 'tableHeader' }, { text: 'Header 2', style: 'tableHeader' }, { text: 'Header 3', style: 'tableHeader' }],
                                ['Sample value 1', 'Sample value 2', 'Sample value 3'],
                                ['Sample value 1', 'Sample value 2', 'Sample value 3'],
                                ['Sample value 1', 'Sample value 2', 'Sample value 3'],
                                ['Sample value 1', 'Sample value 2', 'Sample value 3'],
                                ['Sample value 1', 'Sample value 2', 'Sample value 3'],
                            ]
                        },
                        layout: 'lightHorizontalLines'
                    }







                ]
            };

            pdfMake.createPdf(docDefinition).open({}, win);

        }
    </script>

}